*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}

body{

height:100vh;

background:linear-gradient(135deg,#2c3e50,#4ca1af);

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:850px;

max-width:95%;

background:rgba(255,255,255,.1);

backdrop-filter:blur(15px);

padding:40px;

border-radius:20px;

color:white;

box-shadow:0 15px 40px rgba(0,0,0,.3);

}

h1{

text-align:center;

margin-bottom:30px;

}

.card{

display:grid;

gap:15px;

margin-bottom:35px;

}

label{

font-weight:bold;

}

input{

padding:14px;

border:none;

border-radius:10px;

font-size:16px;

}

button{

padding:15px;

border:none;

border-radius:10px;

font-size:18px;

background:#00c853;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#00b248;

}

.resultado{

text-align:center;

margin-bottom:30px;

}

.resultado h2{

margin-bottom:10px;

font-size:32px;

}

.resultado p{

font-size:22px;

}

.contador{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}

.box{

background:rgba(255,255,255,.15);

padding:25px;

border-radius:15px;

text-align:center;

}

.box span{

font-size:50px;

font-weight:bold;

display:block;

}

.box p{

margin-top:10px;

font-size:18px;

}

@media(max-width:700px){

.contador{

grid-template-columns:repeat(2,1fr);

}

}